---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$white 		: #FFF;
$black 		: #333;
$gray			: #fcfcfa;
$blue			: #5992C2;
$violet		: #6967CB;
$green		: #54C899;
$yellow 	: #FDFD96;
$orange 	: #FFC16B;

body {
	background: $gray;
	color: $black;
  font-family: "PT Sans", sans-serif;
  font-size: 0.95em;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

.page-wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 14px;

	@media screen and (max-width: 800px) {
		width: 96%;
		margin: auto;
	}
}

img {
	max-width: 600px;
	display: block;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
  	width: 100%;
  }
}

.portada {
	font-weight: 500;
	font-size: 17px;
	line-height: 1.5em;
	margin-top: 120px;
	a {
		color: $blue;
	}
}

header {
	margin-bottom: 24px;
	transition: all 1.8s ease-in-out;
  margin-left: -6px;
	a {
		color: $blue;
		padding:0 0.4em;
	}
	a:not(:hover) {
		text-decoration: none;
	}
}

.high {
	font-size: 23px;
	line-height: 1.2em;
	margin-bottom: 40px;
}

h1 {
	font-size: 2em;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
  line-height: 1.2em;
}

h2 {
	font-size: 1.2em;
  font-weight: 600;
  letter-spacing: -1px;
  margin: .3em .3em .1em 0;
  line-height: 1.2em;
}
.posts, .post{
	max-width: 600px;
	margin: auto;
}

.subscribe {
	margin: 4em 0;
	min-height: 40px;
}

#mc_embed_signup {
  border: none;
  text-align: center;
  width: 100%;
}


/* Signup form container */

.mc-field-group {
  display: inline-block;
}


/* positions input field horizontally */

#mce-EMAIL {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  border: 2px solid #ABB0B2;
  color: #343434;
  background-color: #fff;
  padding: .7em 9em .7em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
}


/* Input Styles */

.clear {
  display: inline-block;
}


/* positions button horizontally in line with input */

.button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .03em;
  color: #fff;
  background-color: $blue;
  padding: .7em 2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
}

a {
	color: $blue;
  text-decoration: underline;
}

a:hover {
    background: $yellow;
    border-bottom: 2px $yellow solid;
}

::selection {
    background: $green;
}

time {
	font-size: 0.9em;
	float: right;
}

blockquote {
  background: $white;
  border-left: 10px solid $blue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $blue;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

table {
	margin: 20px;
	border: 1px solid;
	text-align: center;
	th {
		background: $green;
	}
	td {
		font-size: 0.8em;
		border: 1px solid;
	}
}
